body {
	background-image: url('https://raw.githubusercontent.com/sito44/sito44.github.io/master/Basic-Portfolio/assets/images/small_steps.png');
}
header {
	width: 100%;
	border: 1px solid #cccccc;
	background-color: white;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}
h2 {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 2%;
}
h3 {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 2%;
}
hr {
	margin-bottom: 3%;
}
aside hr {
	margin-bottom: 8%;
}
.navLinks, p , footer {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}
/*------------------------------------------------------------Navigation*/
.flexContainer1 {
	display: flex;
	max-width:960px;
	margin: auto;
}
.profileName {
	padding: 2.5%;
	background-color: #4aaaa5;
	color: white;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 1px;
	flex:1;

}
.navigation {
	flex:4;
	text-align: right;
	padding-top: 2%;
}
.navigation li {
	display: inline;
	border-right: 1px solid #4aaaa5;
	padding:0 3% 0 3%;
}
.navLinks {
	text-decoration: none;
	color: #4aaaa5;
	font-size: 14px;
}
.navLinks:hover {
	color: #777777;
}
.navigation ul li:nth-child(3) {
	padding-right: 0;
	border-right: 0;
}
main {
	width: 100%;
	position: relative;
}
/*---------------------------------------------------------------Section*/
.flexContainer2 {
	display: flex;
	max-width:960px;
	margin: auto;
	padding-top: 2%;
}
section {
	flex: 6;
	max-width: 650px;
	margin-bottom: 10%;
	padding: 3%;
	background-color: white;
	overflow-y: auto; 
}
section p {
	line-height: 1.5;  
}

.portfolioPic {
	float: left;
	width: 40%;
	margin:0 5% 2% 0;
	padding-top: 1%;
}
/*------------------------------------------------------------------Aside*/
aside {
	flex: 1;
	max-width: 270px;
	padding: 3%;
	background-color: white;
	margin-left: 5%;
	max-height: 180px; 
}
aside li {
	display: inline;
	margin-right: 2%;
}
/*---------------------------------------------------------------Sprites*/
.socialLinks1 {
	padding: 13.9%;
	width: 26%;
	display: inline-block;
	background-position: 89% 73.6%;
	background-size: 900px;
	background-image: url('https://static.vecteezy.com/system/resources/previews/000/095/039/original/vector-free-social-media-icons.jpg');
}
.socialLinks1:hover {
	background-position: 89% 38.2%;
	display: inline-block;
}
.socialLinks2 {
	padding: 14.06%;
	width: 26%;
	display: inline-block;
	background-position: 62.8% 14.8%;
	background-size: 900px;
	background-image: url('https://static.vecteezy.com/system/resources/previews/000/095/039/original/vector-free-social-media-icons.jpg');
}
.socialLinks2:hover {
	background-position: 62.8% 50.1%;
	display: inline-block;
}
.socialLinks3 {
	padding: 13.9%;
	width: 26%;
	display: inline-block;
	background-position: 97.7% 3%;
	background-size: 900px;
	background-image: url('https://static.vecteezy.com/system/resources/previews/000/095/039/original/vector-free-social-media-icons.jpg');
}
.socialLinks3:hover {
	background-position: 97.7% 38.2%;
	display: inline-block;
}
/*-------------------------------------------------------------stickyFooter*/
footer {
	width: 100%;
	background-color: #666666;
	color: white;
	text-align: center;
	padding: 2% 0 1% 0;
	margin-top: 2%;
	position: fixed;
	bottom:0;
}
small {
	font-size: 10px;
}