body {
    background-image: url(../images/vaio_hard_edge.png);
    background-attachment: fixed;
}

main {
    margin: auto;
    width: 70%;
}

.pad {
    padding: 2%;
}

form {
    text-align: right;
    background-color: navy;
    border-radius: 5px;
}

h1 {
    float: left;
    font-family: 'Comic Sans MS', ariel;
    color: aqua;
    font-weight: 600;
    margin: 1% 0 3% 0;
}

input {
    height: 26px;
    font-size: 16px;
    margin: 0 1% 2% 0;
    font-family: 'Comic Sans MS', ariel;
}

button {
    margin: 2% 2% 2% 0;
    font-size: 18px;
    border-radius: 5px;
    padding: 1%;
    font-family: 'Tahoma', sans-serif;
    letter-spacing: 1px;
    background-color: teal;
    color: aqua;
}

.formButtons {
    margin: 1%;
    font-weight: 600;
    border-width: 3px;
}

img {
    width: 100%;
    border: 2px solid aqua;
    border-radius: 5px;
}

.boxDiv {
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2%;
    margin: 3% 3% 3% 0;
    display: inline-block;
    background-color: navy;
    color: aqua;
    font-family: 'Tahoma', sans-serif;
}

#gifContainer {
    width: 100%;
    margin-top: 0;
    padding: auto;
}