body {
	width: 100%;
	font-family: monospace;
	background-image: url('http://3.bp.blogspot.com/-cxiwAZNVkN0/WJwolNJT8lI/AAAAAAAADT4/AEHLtU9SHKcVHJhZczd5orz2CIHyvFC1wCHM/s1600/white-glass-3d-wallpapers-free.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	margin-bottom: 3%;
}

h3 {
	text-align: center;
}

main {

	font-size: 2.8em;
}

section {
	background-color: white;
	opacity: .8;
	border: 3px dashed black;
}

#hangman {
	padding: 8%;
}

.modalOverlay {

	visibility: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background: rgb(0, 0, 0, 0);
	transition: all .1s ease-in-out;
	padding: 10% 4%;
	height: 1200px;
}

.showModal {
	visibility: visible;
	background: rgb(0, 0, 0, .5);

}

.modalContent {
	padding: 2%;
	background-color: white;
	width: 90%;
	margin: auto;
	transform: translateY(30%);
	border-radius: 10px;
}
.mobileKeyboard {
	opacity: 0.1;
	color: white;
	border: white;
	background-color:none;
	transform: translateY(-100%)
}

.closeButton {
	color: white;
	background-color: transparent;
	border: none;
	font-size: 2rem;
	padding: .6% 2%;
	position: absolute;
	top: 0;
	right: 0;
	transition: background-color .5s ease;
}

.closeButton:hover,
.closeButton:active {
	background-color: black;
}